<form [formGroup]="inputFormGroup" id="room">
  <div class="form-group mx-2 p-3 border border-primary">
    <div class="row">
      <div class="col-md-8">
        <label for="title">Title</label>
        <input class="form-control" type="text" id="title" name="title" formControlName="title" maxlength="50">
      </div>
      <div class="col-md-2 float-end">
        <label for="room_type">Room Type</label>
        <select class="form-control"  id="room_type" name="room_type" formControlName="room_type">
          <option class="h5">conference</option>
          <option class="h5">meeting</option>
        </select>
      </div>
      <div class="col-md-2 float-end">
        <label for="capacity">Capacity</label>
        <input type="number" id="capacity" class="form-control" formControlName="capacity"   >
      </div>
      <!-- <ul>
          <li ngFor="let category of categories" value="categoru.name.id">
              {{category.value}}
          </li>
      </ul> -->

    </div>
    <!-- <input type="number" id="author" name="author" FormControl="author">
    <input type="number" id="category" name="category" FormControl="category"> -->
    <label for="description">Description</label>
    <textarea class="form-control" type="textfield" id="description" name="description"  rows="10" formControlName="description"></textarea>

    <div class="row mt-3">
      <div class="imagePreview d-flex justify-content-center mb-3" *ngIf="imageSrc && imageSrc !== ''">
        <img [src]="imageSrc" [alt]="inputFormGroup.value.name" class="imgPreview">
      </div>
      <div class="d-flex justify-content-center">
        <input class="form-control" (change)="onChange($event)"  type="file" style="max-width: 250px" >
      </div>
    </div>
  </div>
</form>
